body {
  margin: 0;
  width: 100vw;
  height: 100dvh;
  background-color: #9b6b99;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  & span {
    color: #dd99db;
    opacity: 0.2;
    font-size: 30px;

    z-index: -1;
    position: fixed;
    text-align: justify;
    word-spacing: 10px;
  }
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;

  & div:nth-child(1) {

    background-color: #855c83;
    border: 1px solid #b17aaf;

  }
}


.navItem {
  width: auto;
  height: auto;
  background-color: #b17aaf;
  border: 2px solid #dd99db;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 2px 4px;
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: small;

  & p {
    font-weight: 700;
  }

  & a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    background-color: #c78ac5;
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
  }
}

#visitekaartContainer {
  background-color: #b17aaf;
  border: 2px solid #dd99db;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 30px;
  grid-template-areas:
    "avatar name"
    "avatar birthdate"
    "avatar bio"
    "avatar github_handle";

  width: 45vw;

  &:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.5s;
  }

  & div {
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-color: #c78ac5;
    box-shadow: rgba(26, 26, 26, 0.1) 0px 1px 0px;
    padding: 10px;
    border-radius: 10px;

    & .onderwerp {
      font-weight: 700;
    }
  }
}

#avatar {
  grid-area: avatar;
}

#name {
  grid-area: name;

  & h1 {
    margin: 0;
  }
}

#birthdate {
  grid-area: birthdate;
}

#bio {
  grid-area: bio;
}

#github_handle {
  grid-area: github_handle;
}